<%= form_for @marker, :html => { :class => "form-horizontal marker", :multipart => true } do |f| %>
  <% if @marker.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@marker.errors.count, "error") %> prohibited this marker from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @marker.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%=f.error_span(:title) %>
  </div>

  <div class="form-group">
    <%= f.label :lat, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :lat, :class => 'form-control' %>
    </div>
    <%=f.error_span(:lat) %>
  </div>

  <div class="form-group">
    <%= f.label :lon, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :lon, :class => 'form-control' %>
    </div>
    <%=f.error_span(:lon) %>
  </div>

  <div class="form-group">
    <%= f.label :kind, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :kind, [ 'nature','history','shops' ]%>
    </div>

    <%=f.error_span(:kind) %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>

    <%=f.error_span(:description) %>
  </div>

  <div class="form-group">
    <%= f.label :link, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :link, :class => 'form-control' %>
    </div>
    <%=f.error_span(:link) %>
  </div>

    <div class="form-group">
      <%= f.label :Image, :class => 'control-label col-lg-2' %>
        <%= f.file_field :icon %>
    </div>


  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                markers_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
