<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag('/js/daystyle.js') %>
    <%= javascript_include_tag('/js/nightstyle.js') %>
    <%= javascript_include_tag('/js/maploader.js') %>


    <title>Wander</title>

    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <style>
      #map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top opaque-navbar" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navMain">
                    <span class="glyphicon glyphicon-chevron-right" style="color:white;"></span>
                </button>
                <a class="navbar-brand" href="/">WanderShot</a>
            </div>

            <div class="collapse navbar-collapse" id="navMain" role="navigation">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Nature</a>
                        <ul class="dropdown-menu">
                            <li><a href="/markers">Discover</a></li>
                            <li><a href="/markers/new">Record</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Urban</a>
                        <ul class="dropdown-menu">
                            <li><a href="/markers">Discover</a></li>
                            <li><a href="/markers/new">Record</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Indoor</a>
                        <ul class="dropdown-menu">
                            <li><a href="/markers">Discover</a></li>
                            <li><a href="/markers/new">Record</a></li>
                        </ul>
                    </li>
                    <li class="aboutbutton"><%= link_to "About", "/abouts"  %></li>
                </ul>
            </div>
      </div>
    </div>

    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZ781P8-RMwzrbJOSnkidmFaXbNGn_aoA&callback=initMap"
    async defer></script>

    <div id="form" style="display: none;">
          <table>
          <tr><td>Title:</td> <td><input type='text' id='title'/> </td> </tr>
          <tr><td>Description:</td> <td><input type='text' id='description'/> </td> </tr>
          <tr><td>Link:</td> <td><input type='text' id='link'/> </td> </tr>
          <tr><td>Kind:</td> <td><select id='kind'> +
                     <option value='nature' SELECTED>Nature</option>
                     <option value='history'>Urban</option>
                     <option value='shops'>Indoor</option>
                     </select> </td></tr>
                     <tr><td></td><td><button type="button" onclick="saveData()">Save</button></td></tr>
          </table>
        </div>
  </body>
</html>